/* TODO Add site wide styles */
html {
  font-size: 20px;
  font-family: Helvetica;
  text-decoration: none;
}
li {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
   margin-bottom: 0;
}
ul {
    padding-left: 30;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 0;

}
.edButton {
  background-color: #AAB8C2;
  font-size: 15px;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
nav {
  display: inline-block;
  padding-left: 14%;
  padding-right: 4%;
  height: 100%;
  align-items: start;
  vertical-align: top;
}
#mid {
  display: inline-block;
  width: 595px;
  border: 1px solid rgb(235, 235, 235);
  border-top: none;
  margin: 0 14px;
}
.t-container {
  
  border-top: 1px solid rgb(235, 235, 235);
  padding: 20px;

}
.qli-link{
  padding: 0;
}