.logo{

    width: 40px;
    height:auto;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}
button {
    top:50%;
    background-color:#1DA1F2;
    color: white;
    border:none;
    padding: 7px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius:20px;
    font-size: 20px;
    font-family: Helvetica;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
  }

  button:hover{
    cursor: pointer;

}
.tweetButton {
    padding-left: 18px;
}